<h1>Topic Admin Page</h1>
 
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
 
  <% @topics.each do |topic| %>
    <tr>
      <td><%= topic.name %></td>
      <td><%= topic.description %></td>
      <td><%= topic.isModerated %></td>
      <td><%= link_to 'Show', topic_path(topic) %></td>
    </tr>
  <% end %>
</table>