<!DOCTYPE html>

<html>
<body class ="background">
	<div class="topBar">
		<h1>Toppy</h1>
		<div class="links">
			<p>
				<% @topics.each do |topic| %>
						<%= link_to topic.name, topic_path(topic) %>
						&nbsp;
			  <% end %>
			</p>
		</div>
	</div>
	<div class ="home">
		<h2>Welcome to Toppy!</h2>
			<p>This site is for discussion about topics. Jump on in and start talking!</p>

		<div class = "newTopic">
			<%= link_to 'New', "topics/new/" %>
		</div>
	</div>

</body>
</html>
