<!DOCTYPE html>

<html>
<body class ="background">
	<div class="topBar">
		<h1>Toppy</h1>
		<div class="links">
			<p>
				<% @topics.each do |topic| %>
						<%= link_to topic.name, topic_path(topic) %>
						&nbsp;
			  <% end %>
			</p>
		</div>
	</div>
	<div class ="home">
		<h2>Welcome to Toppy!</h2>

		<!--temporary new topic link-->
		<%= link_to 'New', "topics/new/" %>
	</div>
</body>
</html>
