// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.posts{
	position: relative;
	margin: 1em;
	min-height: 30px;
	width: cover;
	background-color: #dbdede;
	border: 2px solid #cacecd;
	border-left: none;
	border-top: none;
	padding: 10px;
	margin-bottom: 10px;
	overflow: hidden;
	font-family: arial,helvetica,sans-serif;

	.title{
		font-size: 20px;
		font-weight: bold;
	}
	.text{

	}
}
.posts > img:active{
	width: 100%;
}

img {
	border: 1px solid #f0e0de;
	border-radius: 2px;
	padding: 5px;
	width: 200px;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
}

.form{
	font-family: "Helvetica";
	margin: 1em;
	text-align: center;
	background-color: #b1b7af;
	padding: 20px;
}
