// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.background{
	background-color: #9ea59b;
	height:100%;
	margin: 0;
	
}

/*.info{
	position: relative;
	padding: 2px;
	padding-top: none;
	//this is slightly off, enough to create contrast in color
	background-color: #d3d6d6;
	font-size: 12px;
}*/

/*.posts{
	
	position: relative;
	left: 30px;
	min-height: 30px;
	width: 65%;
	background-color: #dbdede;
	border: 2px solid #cacecd;
	border-left: none;
	border-top: none;
	padding: 10px;
	margin-bottom: 10px;
	overflow: hidden;
	font-family: arial,helvetica,sans-serif;
}
.posts > img:active{
	width: 100%;
}*/

/*img {
	border: 1px solid #f0e0de;
	border-radius: 2px;
	padding: 5px;
	width: 200px;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
}*/

.topBar{
	text-align: center;
	color: #ebedeb;
	font-family: "Helvetica";
	font-style: italic;
	letter-spacing: 0px;
	border: 2px solid #515d4b;
	border-left: none;
	border-top: none;
	padding: 5px;
	background: #646e5e;
}
.links{
	border: 2px solid #515d4b;
	
}

.home{
	font-family: "Helvetica";
	margin: 1em;
	text-align: center;
	color: #ebedeb;
	background-color: #b1b7af;
	height: 40em;
	padding: 20px;
	img{
		border:none;
		width:400px;
		height:400px;
		position: absolute;
		top: 0;
		 bottom:0; 
		 left: 0; 
		 right:0;
		 margin: auto;
	}
}