// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.background{
	background-color: #9ea59b;
	height:cover;
	margin: 0;
	
}

.topBar{
	text-align: center;
	color: #ebedeb;
	font-family: "Helvetica";
	font-style: italic;
	letter-spacing: 0px;
	border: 2px solid #515d4b;
	border-left: none;
	border-top: none;
	padding: 5px;
	background: #646e5e;
}
.links{
	border: 2px solid #515d4b;
	
}

.home{
	font-family: "Helvetica";
	margin: 1em;
	text-align: center;
	color: #ebedeb;
	background-color: #b1b7af;
	height: 40em;
	padding: 20px;
img{
	border:none;
	width:400px;
	height:400px;
	position: absolute;
	top: 0;
	 bottom:0; 
	 left: 0; 
	 right:0;
	 margin: auto;
	}
	textarea
	{
    	width: 50%;
    	height: 100px;
    	padding: 12px 12px;
    	border: 2px solid #ccc;
    	background-color: #f8f8f8;
    	resize: none;
	} 

	input[type=button], input[type=submit]
	{
    	background-color: #4CAF50;
    	float: right;
    	border: none;
    	color: white;
    	padding: 16px 20px;
    	text-decoration: none;
    	cursor: pointer;
	}
	
}



